{{notification-container notifications=notifications position="top-right"}}
<h2>connection-status demo app</h2>
<p>
  Try turning your wifi on and off!
  All you need is to include the service in a route or controller
</p>
<p>Current status is <code>{{status}}</code></p>
<pre><code>
  import Ember from 'ember';

  export default Ember.Route.extend({
    connectionStatus: Ember.inject.service(),
    init () {
      this._super(...arguments)
      let connection = this.get('connectionStatus')
      connection.setup(this)
    },
    status: Ember.computed('connectionStatus.online', function () {
      return this.get('connectionStatus.online')
        ? 'Online' : 'Offline'
    }),
    actions: {
      online (event) {
        this.notifications.success(event.type, {
          autoClear: true,
          clearDuration: 1000
        });
      },
      offline (event) {
        this.notifications.error(event.type, {
          autoClear: true,
          clearDuration: 1000
        });
      }
    }
  });

</code></pre>
