{{notification-container notifications=notifications position="top-right"}}
<h2>connection-status demo app</h2>
<p>
  Try turning your wifi on and off
  All you need is to include the service in a controller.
  Events will fire actions on <code>controller:application</code>
</p>

<pre><code>
import Ember from 'ember';

export default Ember.Controller.extend({
  connectionStatus: Ember.inject.service(),
  actions: {
    online (event) {
      this.notifications.success(event.type);
    },
    offline (event) {
      this.notifications.error(event.type);
    }
  }
});
</code></pre>
